<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Defines how long metadata information will be considered actual -->
    <add key="CacheExpirationConstants_MetadataExpirationTimeMinutes" value="10" />
    <!--Defines how long newsfeed will be considered actual -->
    <add key="CacheExpirationConstants_NewsfeedCacheExpirationTimeMinutes" value="20" />

    <add key="AppStoreUrl" value="https://apps.apple.com/app/id1520233204"/>

    <!--Lists supported localization by the culture code, each code separated by comma -->
    <add key="LocalizationConstants_SupportedLocales" value="en-US, ru" />

  </appSettings>
</configuration>